# IGNORAMOS LA CARPETA CONFIG DONDE SE TIENE LA CONEXION, ESTA SE DEBE REALIZAR MANUALMETNE
config/

# IGNORAMOS LA CARPEA IDEA
.idea/

# IGNORAMOS LA CARPETA DE LAS SESIONES
sessions/

# IGNORAMOS LA CARPETA DE LAS FOTOS DE LOS USUARIOS
fotosUsuarios/

# IGNORAMOS LA CARPETA DE LAS FOTOS DEL PERSONAL
fotosPersonal/

# IGNORAMOS LA CARPETA DE LOS DOCUMENTOS DEL PERSONAL
personal/

# IGNORAMOS LA CARPETA DE FOTOS DE LOS VEHICULOS
vehiculos/

# IGNORAMOS LA CARPETA DE DOCUMENTOS DE LOS VEHICULOS
docsVehiculos/

# IGNORAMOS LA CARPETA DE CONTRATOS FUEC Y FIJOS
contratosFuec/
contratosFijos/

# IGNORAMOS LA CARPETA DE IMAGENES DE ALISTAMIENTO
imgAlistamientos/

# IGNORAMOS LA CARPETA DE INVENTARIO
imgMantenimiento/

# IGNORAMOS CARPETA CON LAS IMAGENES DE LA PLANTILLA
plantilla/

# IGNORAMOS CARPETA CON LOS ICONOS FAVICON
favicons/