# IGNORAMOS LA CARPETA CONFIG DONDE SE TIENE LA CONEXION, ESTA SE DEBE REALIZAR MANUALMETNE
config/

# IGNORAMOS LA CARPEA IDEA
.idea/

# IGNORAMOS LA CARPETA DE LAS SESIONES
sessions/

# IGNORAMOS LA CARPETA DE LAS FOTOS DE LOS USUARIOS
fotosUsuarios/

# IGNORAMOS LA CARPETA DE LAS FOTOS DEL PERSONAL
fotosPersonal/

# IGNORAMOS LA CARPETA DE LOS DOCUMENTOS DEL PERSONAL
personal/